.toolTipLink {
    display: inline-block;
    position: relative;
    margin-left: 1px;
    color: blue;
    cursor: pointer;
}

.link44AE {
    visibility: hidden;
    width: 25rem;
    background-color: #cacfd5;
    color: black;
    padding: 11px 13px;
    border-radius: 6px;
    font-weight: 400;
    font-size: 0.9rem;
    position: absolute;
    top: 2.1rem;
    text-align: left;
    left: -10.6rem;
    z-index: 24;
}

.toolTipLink:hover .link44AE {
    visibility: visible;
}

.toolTipLink .link44AE::after {
    content: " ";
    position: absolute;
    bottom: 100%;
    right: 51%;
    margin-top: -5px;
    border-width: 6px;
    border-style: solid;
    border-color: transparent transparent #cacfd5 transparent;
}

.loader-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2000;
    background: rgba(255, 255, 255, 1);
}

.dashboard-loader {
    display: none !important;
}

.loader {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    position: relative;
    margin: 0 auto;
    text-align: center;
}

.loader:after {
    background: url(../../assets/img/fintoo_loader_Green.gif) center center no-repeat;
    background-size: cover;
    height: 75px;
    content: '';
    display: block;
    width: 100%;
    margin-top: 10px;
}

.dashboard-loader.active {
    display: flex !important;
}


@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.incom-and-tax-calculator-body {
    padding: 0 6rem;
    background-color: rgba(0, 0, 0, 0.096)
}

input:focus,
textarea:focus,
select:focus {
    outline: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

input[type=text]::-webkit-inner-spin-button,
input[type=text]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

input[type=text] {
    text-align: right;
}

input[type=number] {
    text-align: right;
}

input[type=checkbox] {
    transform: scale(0.8)
}

.form-check {
    width: fit-content !important;
}

button {
    border: none;
}

.linkText {
    color: blue;
}

.form-control,
.form-select:focus {
    box-shadow: none !important;
}

.form-container {
    background-color: #fff;
    border-radius: 15px;
    margin: 5rem 0;
}

.form-content-container {
    padding: 0 3.5rem;
}

.chk-large-vehicles {
    margin-top: -0.7rem !important;
}

.form-check-input {
    width: 20px !important;
    height: 20px !important;
    /* margin-top: -0.7rem !important; */
}

.label-fw-class {
    font-weight: 600;
}

.details-container {
    padding: 2rem 2.5rem;
    margin-top: 2rem;
}

.whole {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.623);
    z-index: 10;
}

.padding-div {
    padding: 0 2.3rem;
}

.form-heading {
    display: flex;
    justify-content: start;
    height: 60px;
    width: 100%;
    border-bottom: 1.5px solid rgb(175, 175, 175);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.heading {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    border-top-left-radius: 15px;
    background-color: #042b62;
    font-size: 1.3rem;
    padding: 0 5px;
}

.show-hide-details-input-container {
    position: relative;
}

.input-label-class {
    text-align: left;
    /* font-weight: normal; */
}

.show-hide-details-btn {
    display: block;
    float: right;
    border-radius: 4px;
    padding: 1px 4px;
    color: #fff;
    font-weight: normal;
    background: #042b62;
    cursor: pointer;
    font-size: 11px;
    margin-top: 0.5rem;
}

.tooltip-icon {
    display: inline-block;
    position: relative;
    margin-left: 7px;
    z-index: 23;
}

.tooltip-icon-container {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: white;
    background: #042b62;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    cursor: pointer;
}

.tooltip-content {
    display: none;
    z-index: 22;
    position: absolute;
    width: 300px;
    top: 0;
    left: 0;
    border: 1px solid #ececec;
    padding: 15px;
    margin-top: 2rem;
    border-radius: 6px;
    color: #333;
    background: #fff;
    font-size: 13px;
    text-align: left;
}

.tooltip-icon:hover .tooltip-content {
    display: block;
}

.two-inputs-row.col-sm {
    padding: 0;
}

.deleteRowOption {
    cursor: pointer;
}

.add-row-option {
    cursor: pointer;
    background-color: #042b62;
}

.thead-row {
    background-color: #042b62;
    color: white;
}

.action-buttons-container {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 1rem;
}

.action-buttons-container2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.calculate-badge {
    cursor: pointer;
    background-color: #042b62;
    color: #ffffff;
    border-radius: 50rem;
    padding: 0.2rem 1rem;
    display: flex;
    width: fit-content;
    justify-content: center;
    align-items: center;
}

.reset-badge {
    cursor: pointer;
    background-color: #ffffff;
    border: 1px solid #042b62;
    color: #042b62;
    border-radius: 50rem;
    padding: 0.2rem 1rem;
    display: flex;
    width: fit-content;
    justify-content: center;
    align-items: center;
}

.note-container {
    background-color: antiquewhite;
    width: 93%;
    margin: 0 auto;
    padding: 2rem;
    border-radius: 15px;
}

.note-container-note {
    background-color: #fdf4f4;
}

.note-container-advisory {
    background-color: #f4fbfd;
}

/* -----------------------------------------------------------table style--------------------------------------- */
.table-coontainer {
    overflow-x: auto;
}

.div-table {
    display: table;
    width: 100%;
}

.theader {
    display: table-header-group;
    background-color: #042b62;
    color: white;
}

.div-row {
    display: table-row;
}

.total-row {
    background-color: #ddf3ff;
}

.header-cell {
    padding: 1rem;
    font-size: 1rem;
    font-weight: bold;
    width: auto;
    text-align: center;
    vertical-align: middle
}

.div-cell {
    display: table-cell;
    text-align: center;
    padding: 1rem;
    /* width: auto; */
}



.theader,
.div-row,
.div-cell {
    border: 1px solid #ddd;
    border-collapse: collapse;
}

.no-touch {
    cursor: not-allowed;
    pointer-events: none;
}

.monthOwned {
    width: 100%;
    height: 2px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.monthOwned::-webkit-slider-thumb {
    /* -webkit-appearance: none; */
    appearance: none;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #042b62;
    cursor: pointer;
}

.monthOwned::-moz-range-thumb {
    width: 10px;
    height: 10px;
    background: #042b62;
    cursor: pointer;
}

.calculate-row-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
}

.calculate-row {
    display: flex;
    gap: 1rem;
}

.calculate-row a {
    background-color: #042b62 !important;
    text-decoration: none;
    color: white;
    width: max-content;
}

/* ================================================================================================================ */
.dit-modal-popup-overlay {
    z-index: 9999;
    position: fixed;
    display: none;
    top: 0%;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000;
    filter: alpha(opacity=50);
    opacity: .5;
    -moz-opacity: .5;
    max-height: 100vh;
    width: 100%;
    text-align: center;
}

.dit-modal-popup {
    display: none;
    position: fixed;
    z-index: 9999;
    background: #fff;
    min-width: 90%;
    max-height: 90%;
    border: 1px solid #fff;
    font-family: arial;
    font-size: 15px;
    line-height: 20px;
    border-radius: 15px;
    overflow: hidden;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.modal_popup_heading {
    background-color: #ddf3ff;
    font-size: 1.3rem;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
    width: 100%;
}

.popup_close {
    width: 25px;
    height: 25px;
    font-size: 1rem;
    border: 2px solid #000000;
    border-radius: 55px;
    padding: 0.2rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000000;
    text-decoration: none;
}


.modal_popup_content_container {
    max-height: 100vh;
    overflow-y: scroll;
    padding-bottom: 15rem;
}

.popup-btns {
    width: 100%;
    display: flex;
    gap: 1rem;
}

.popup-btns a:nth-of-type(1) {
    background-color: #042b62;
}

.element-container {
    margin-bottom: 1.2rem;
}

.result-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #24a7df51;
    font-weight: bold;
    font-size: 1rem;
    padding: 0.5rem;
}

/* ---------------------------------------------------------media query----------------------------------------------- */
@media only screen and (max-width: 850px) {
    .modal_popup_content_container {
        height: 100vh;
        overflow-y: scroll;
        padding-bottom: unset;
        padding-bottom: 15rem;
    }

    .form-content-container {
        padding: 0 2rem;
    }

    .calculate-row-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .incom-and-tax-calculator-body {
        padding: 0 2rem;

    }

    .heading {
        width: 70%;

    }

    .div-table {
        width: 100%;
    }

    /* .header-cell {
        padding: 1rem;
        font-size: 1rem;
        font-weight: bold;
        width: 100px;
        min-width: fit-content;
        text-align: center;
        vertical-align: middle
    } */
}

@media only screen and (max-width: 450px) {
    .dit-modal-popup {
        width: 90;
    }

    .calculate-row-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .sno {
        width: 1;
    }

    .modal_popup_content_container {
        height: 100vh;
        overflow-y: scroll;
        padding-bottom: 15rem;
    }

    .modal_popup_heading {
        padding: 1rem 0.5rem;
    }

    .div-table {
        width: 300%;
    }

    .link44AD {
        width: 16rem;
        left: -6.6rem;
    }

    /* Create an active/current tablink class */
    .tab_button {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #042b62;
        border-top-left-radius: 15px;
        color: #ffffff;
        font-size: 1rem;
        padding: 0 15px;
        cursor: pointer;
    }

    /* .tab_button:nth-of-type(1) {
        border-top-left-radius: 15px;
    } */
    .table-coontainer {
        overflow-x: scroll;
    }

    .form-content-container {
        padding: 0 0.5rem;
    }

    .incom-and-tax-calculator-body {
        padding: 0 0.5rem;

    }

    .heading {
        width: 95%;

    }

    .input-label-class {

        margin-bottom: 0.5rem;
    }

    .details-container {
        padding: 1rem 0.5rem;
        margin-top: 1rem;
    }

    .padding-div {
        padding: 0 1rem;
    }

    .heading {
        font-size: 1.1rem;
    }

    .tooltip-content_1 {
        margin-left: -200px;
    }
}


/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}


/* Create an active/current tablink class */
.tab_button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #042b62;
    border-top-left-radius: 15px;
    color: #ffffff;
    font-size: 1rem;
    padding: 0 15px;
    cursor: pointer;
}

/* .tab_button:nth-of-type(1) {
    border-top-left-radius: 15px;
} */

.tabcontent {
    display: none;
}

.tabcontent:nth-of-type(1) {
    display: block;
}

.stcgDescOther {
    width: 400px !important;
    visibility: hidden;
    width: fit-content;
    background-color: #cacfd5;
    color: black;
    padding: 13px 15px;
    border-radius: 6px;
    font-weight: 400;
    font-size: 0.9rem;
    position: absolute;
    text-align: justify;
    /* top: 125%;
    left: -450%; */
    top: 0;
    left: 0;
    z-index: 555;
}

.linkText {
    display: inline-block;
    position: relative;
    margin-left: 7px;
    z-index: 23;
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.linkText:hover .stcgDescOther {
    visibility: visible;
}

.stcgDescOther::after {
    content: " ";
    position: absolute;
    top: 20%;
    transform: rotate(-90deg);
    left: -1.5%;
    margin-left: -5px;
    border-width: 6px;
    border-style: solid;
    border-color: transparent transparent #cacfd5 transparent;
}

#slider_value {
    text-align: left;
    width: 100%;
    display: block;
    margin-top: 0.5rem;
    margin-left: 0.2rem;
}

.profits44AD {
    background-color: #e9ecef !important;
}

.required-msg {
    display: none;
    position: absolute;
    color: red;
    font-size: 0.8rem;
}

#first-question,
#third-question,
#forth-question {
    display: none;
}