.Fhcheader {
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
  align-items: center;
}

.subscribebtn {
  border-radius: 46.506px;
  border: 0.75px solid #042b62;
  padding: 0.6rem 2rem;
  background: transparent;
  color: #042b62;
  font-weight: 500;
  transition: 0.5s;
}
.subscribebtn:hover {
  background: #042b62;
  transition: 0.5s;
  color: #fff;
  border: 1px solid #042b62;
}
@media only screen and (max-width: 600px) {
  .Fhcheader img {
    width: 130px;
  }
  .subscribebtn {
   font-size: .9rem;
   padding: .4rem 1.3rem;
  }
}
